{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="flex justify-center">
      <h1>Questions List</h1>
    </div>
    {% for question in questions %}
    <div class="flex bg-gray-200 w-1/3 h-24 flex-col mb-5 ml-5 px-2 py-2">
      <h5>{{question.question}}</h5>
      <p>Asked by {{question.author}}</p>
      <a href="{% url 'answers:answer-post' question.pk %}"
        >Answer this question</a
      >
    </div>
    {% endfor %}
  </body>
</html>
{%endblock content %}
